.title{
margin-bottom:300px;
top: 50%;
  bottom: initial;       
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  text-align: center;
  color: #fff;
  padding: 0 1rem;
}
.carousel-heading{
  font-family: "Permanent Marker", cursive;
  font-weight:200px;
  font-style: italic;
}
@media (max-width:768px) {
    .carousel-heading{
        font-size: 1.2rem;
        top: 55%;
    }
}

.head{
    text-align: center;
}
.section2{
    margin-top:100px;
}
.carousel-heading2{
    /* font-size: 1rem; */
    font-size: clamp(1rem, 0.1rem, 3rem);
    margin-top: clamp(-0.5rem, -2vw, 0rem);

    line-height: 1rem;

}
@media (max-width:768px) {
    .carousel-heading2{
        margin: 0 auto;
        text-align: center;
    }
}
.section3{
    font-family: "Permanent Marker";
    margin-top: 100px;
    padding-left: 80px;
}

.section4{
    background-color: beige;
    padding-top: 50px;
}
.sym{
    font-weight: bold;
}
.section6{
    background-image: url(/assests/images/bgimgpromyc.jpg);
}
.baa{
    padding-top:50px;
}
.section7{
    background-color: beige;
    padding-top: 50px;
}
.main{
        object-fit: cover;
    height:250px;
    width:300px;
    
}
.loo-laa{
    margin-top:50px;
    font-family: cursive;
}
.end{
    margin-top:20px;
}
 
.footer {
    background-color: #000000;
}
.button1 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 80px;
    border: 1px solid black;
}
.navbar-toggler-icon{
    background-color: white;
}
.container,.container-fliud{
    overflow: hidden;
}
.pic{
    width: auto;
    height: 200px;
    object-fit: contain;
}
.card1{
    width: 90%;
}
.card2{
    width: 75%;
    height: 100px;
}
.button1{
width: 100px;
height: 50px;
}
.button1:hover{
  background-color: gray;
  color: white;
}
.footer-top-border{
    border-top: 5px solid #28a745;
}
nav{
    overflow: hidden;
}







